<div id="main-area">
    <h1>NCS To-Do-App</h1>
    <div id="login-area">
        <h2>Login</h2>
        <form action="/" method="POST" autocomplete="off">
            <input type="email" name="email" placeholder="Your email...">
            <input type="password" name="password" placeholder="Your account password">
            <button type="submit">Login</button>
        </form>
    </div>
    <h3>Do not have an account? Create one here!</h3>
</div>