<div id="main-area">
    <div id="login-area">
        <h1>Login</h1>
        <form action="/" method="POST" autocomplete="off">
            <input type="email" name="email" placeholder="Your email...">
            <input type="password" name="password" placeholder="Your account password...">
            <button type="submit">Login</button>
        </form>
    </div>
    <h3><a href="/">Do not have an account? Create one here!</a></h3>
</div>