<div id="form-area">
    <form method="POST">
        <input type="text" name="name" id="taskname" placeholder="Task name..." autocomplete="off">
        <button type="submit">Add</button>
    </form>
</div>
<div id="main-area">
    <div id="task-list">
        {{#each taskList}}
        <div class="span-area">
            <form class="eachSpan" action="/tasks/:user_id/check" method="POST">
                <button class="{{completed}}" type="submit" name="itemId" value="{{id}}">{{name}}</button>
            </form>
            <form class="del-form" action="/tasks/:user_id/delete" method="POST">
                <button class="delId" type="submit" name="itemId" value="{{id}}">Del</button>
            </form>
        </div>
        {{/each}}
    </div>
</div>
<style>
    #main-area {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 60%;
        max-width: 60%;
        height: 100%;
    }

    #form-area {
        min-width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #task-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        height: fit-content;
        max-width: 100%;
        min-width: 100%;
        background: rgba(58, 53, 82, 0.555);
        border-radius: 1ch;
    }

    .eachSpan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        min-width: 80%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .span-area {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .true {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        text-align: center;
        min-width: 100%;
        min-height: fit-content;
        max-height: fit-content;
        background: rgb(70, 226, 161);
        transition: 0.5s;
        border-radius: 7pt;
        flex-grow: 1;
        transition: 0.5s;
        color: black;
        overflow-wrap: break-word;
        height: fit-content;
    }

    .true:hover {
        transition: 0.5s;
        background: rgb(40, 170, 116);
        color: black;
    }

    .false {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        text-align: center;
        min-width: 100%;
        min-height: fit-content;
        max-height: fit-content;
        background: rgb(62, 129, 238);
        transition: 0.5s;
        border-radius: 7pt;
        flex-grow: 1;
        transition: 0.5s;
        color: black;
        overflow-wrap: break-word;
        height: fit-content;
    }

    .false:hover {
        transition: 0.5s;
        background: rgb(53, 111, 204);
        color: black;
    }

    .del-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-width: 50px;
        max-width: 10%;
        width: 10%;
        height: 100%;
    }

    .delId {
        background-color: transparent;
        background-repeat: no-repeat;
        border-radius: 1ch;
        width: 80%;
        height: 80%;
        border: none;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        background: rgb(58, 53, 82);
        color: white;
        margin-bottom: 5px;
    }

    span {
        color: black;
        background: transparent;
    }

    button {
        background-color: transparent;
        background-repeat: no-repeat;
        border-radius: 1ch;
        width: 30%;
        height: 45px;
        border: none;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        background: rgb(58, 53, 82);
        color: white;
        margin-bottom: 5px;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        min-width: 100%;
    }

    input#taskname {
        height: 40px;
        width: 70%;
        flex-grow: 1;
        border-radius: 1ch;
        margin-bottom: 6px;
        font-size: 20px;
    }
</style>