@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body, html {
    display: flex;
    height: 100%;
    width: 100%;
    background: rgb(46,201,185);
    background: linear-gradient(27deg, rgba(46,201,185,1) 0%, rgba(10,72,167,1) 100%);
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
}

h1 {
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(58, 53, 82);
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
    flex-direction: column;
    margin-top: 5px;
}

a {
    transition: 0.5s;
    color: rgb(70, 226, 161);
    text-decoration: none;
    width: fit-content;
}

a:hover {
    transition: 0.5s;
    color: rgb(40, 170, 116);
}

#homepage {
    font-size: 45px;
}